.clients-list {
  color: getColor("socialIconBg");
  column-count: 2;
  column-gap: 30px;
  @extend %center;
  &__item {
    @extend %flex;
    @extend %alignCenter;
    @extend %justifyCenter;
    @include border(currentColor, 4px);
    width: 170px;
    height: 92px;
    cursor: pointer;
    @extend %transition;
    &:hover,
    &:focus {
      color: getColor("brand");
    }
    &:nth-child(-n + 5) {
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    &__item {
      width: 170px;
      height: 92px;
      cursor: pointer;
      &:hover,
      &:focus {
        color: getColor("brand");
      }
    }
  }
}
