.header {
  border-bottom: 1px solid getColor("headerBorder");
  &__container {
    position: relative;
    @extend %flex;
    @extend %center;
    @extend %alignCenter;
    justify-content: space-between;
    padding: 24px 0 25px 0;
  }
  &__wrapper {
    @extend %alignCenter;
    @extend %flex;
  }
  &__navigation {
    gap: 46px;
    @extend %flex;
  }
  &__contact-info {
    gap: 50px;
    @extend %alignCenter;
    @extend %flex;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid getColor("headerBorder");
    &__container {
      position: relative;
      justify-content: space-between;
      padding: 24px 0 25px 0;
    }
    &__navigation {
      gap: 46px;
    }
    &__contact-info {
      gap: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .header__navigation,
  .header__contact-info {
    display: none;
  }
}

.footer {
  background-color: getColor("brandBg");
  color: getColor("brandAccent");
  &__wrapper {
    @extend %textCenter;
    padding: 60px 15px;
    position: relative;
  }
  &__social {
    @extend .footer__wrapper;
  }
  &__contacts {
    margin-top: 20px;
  }
  &__contact {
    margin-top: 8px;
  }
  &__address {
    font-style: normal;
  }
  &__form-wrapper {
    @extend .footer__wrapper;
  }
  &__label {
    @extend %textCenter;
    text-transform: uppercase;
    font-weight: 700;
  }
  &__input {
    padding: 8px;
    @include border(getColor("footerLink"), 0);
    @include font(400, 16px, 1.25, 0.03em);
    background-color: inherit;
    color: getColor("footerLink");
    font-family: inherit;
    outline: none;
    width: 100%;
    min-height: 50px;
    margin-top: 20px;
  }
  &__submit-wrapper {
    position: relative;
    display: inline;
    margin-top: 20px;
  }
}

.submit__btn {
  padding: 10px 42px;
  @extend %textLeft;
  color: inherit;
  font-style: inherit;
}
@media screen and (max-width: 480px) {
  .submit__btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      display: flex;
    }
    &__social {
      padding: 72px 0px;
      margin-right: 70px;
    }
    &__contact {
      flex-direction: column;
      gap: 9px;
      margin-top: 20px;
    }
    &__form-wrapper {
      padding: 72px 0px 100px 0px;
      flex-direction: row;
      width: 580px;
    }
    &__form {
      align-items: flex-end;
      gap: 10px;
    }
    &__input-wrapper {
      display: block;
    }
  }
}

.submit__icon {
  @extend %positionAb;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: getColor(brandAccent);
}
