.hero {
  background-image: linear-gradient(
      to bottom,
      getColor("headerBg"),
      getColor("headerBg")
    ),
    url(./images/header_image_mobile.jpg);
  background-size: cover;
  @extend %center;

  &__title {
    @include font(900, 26px, 1.5, 0.06em);
    text-transform: uppercase;
    text-align: center;
    color: getColor("brandAccent");
    @extend %alignCenter;
  }
  &__tile {
    background-color: getColor("sectionBg");
    padding: 25px 0;
    @extend %flex;
    @extend %justifyCenter;
  }
  &__heading {
    font-weight: 700;
    @extend %textCenter;
    text-transform: uppercase;
    margin-top: 30px;
  }
  &__btn {
    @extend %center;
    display: block;
    margin-top: 30px;
  }
}
@media screen and (min-width: 455px) {
  .hero {
    &__title {
      max-width: 15em;
      margin: 0 auto;
    }
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(./images/header_image_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        getColor("headerBg"),
        getColor("headerBg")
      ),
      url(./images/header_image_tablet.jpg);
    &__list {
      column-count: 2;
      column-gap: 30px;
    }
    &__item {
      max-width: calc(50vw - 30px);
    }
    &__heading {
      text-align: left;
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        getColor("headerBg"),
        getColor("headerBg")
      ),
      url(./images/header_image.jpg);

    &__list {
      column-count: 4;
    }
    &__item {
      max-width: 270px;
    }
    &__tile {
      padding: 25px 100px;
    }
  }
}
