.logo {
  @extend %FontRaleway;
  color: getColor("logo");
  @include font(700, 26px, 1, 0.03em);
  text-decoration: none;
  &__accent {
    color: getColor("brand");
  }
  &__footer {
    color: getColor("brandAccent");
    text-decoration: none;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 94px;
  }
}
