.filter {
  @include list(8px, 0, 1px, 16px, 1px);
  @extend %justifyCenter;
  @extend %flex;
  align-items: flex-start;
  margin-bottom: 34px;
  &__btn {
    background-color: getColor("sectionBg");
    @include font(500, 14px, 1.5, 0.03em);
    border-radius: 4px;
    cursor: pointer;
    padding: 6px 22px;
    @extend %textCenter;
    border: none;
    @extend %transition;
    &:hover,
    &:focus {
      background-color: getColor("brand");
      color: getColor("brandAccent");
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
}

.grind {
  @extend %flex;
  @extend %justifyCenter;
  @extend %transition;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 60px) / 3);
  & figure:hover,
  & figure:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__figcaption {
    padding: 20px 24px;
    @include border(getColor("figcaptionBorder"), 0);
    border-top: none;
  }
  &__heading {
    @include font(700, 18px, 2, 0.06em);
    text-transform: none;
  }
}
.overly {
  position: relative;
  overflow: hidden;
  &__text {
    @extend %positionAb;
    @extend %transition;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 49px 24px;
    background-color: getColor("overlyBg");
    transform: translateY(100%);
  }
  &:hover .overly__text {
    transform: translateY(0);
  }
}
