$colors: (
  "brandBg": #2f303a,
  "headerBg": #2f303a66,
  "brand": #2196f3,
  "logo": #000000,
  "brandAccent": #ffffff,
  "iconBgReverse": #ffffff1a,
  "text": #212121,
  "backdropInputBorder": #21212133,
  "sectionBg": #f5f4fa,
  "paragraph": #757575,
  "placeholder": #75757580,
  "footerLink": #ffffff99,
  "headerBorder": #e5e5e5,
  "figcaptionBorder": #eee,
  "socialIconBg": #afb1b8,
  "socialIconHover": #2196f3,
  "aboutNameBg": #2f303acc,
  "overlyBg": #2196f3e6,
  "backdropBg": #00000033,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

%FontRoboto {
  font-family: "roboto", sans-serif;
}
%FontRaleway {
  font-family: "raleway", sans-serif;
}
%transition {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
%transitionColor {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
%center {
  margin: 0 auto;
}
%flex {
  display: flex;
}
%alignCenter {
  align-items: center;
}
%justifyCenter {
  justify-content: center;
}
%textCenter {
  text-align: center;
}
%textLeft {
  text-align: left;
}
%positionAb {
  position: absolute;
}
%negativeMargin {
  margin-top: -94px;
}
